.desktophdcopy a:hover {
  opacity: .5;
}
.desktophdcopy .screenshot20180220at92522pm {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1019px;
  height              : 765px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .rectangle3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 203px;
  height              : 602px;
  width               : 1418px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow-x: scroll;
}
.desktophdcopy .showmore {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 665px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 19.0px;
}
.desktophdcopy .oval2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 38px;
  height              : 31px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 1352px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .moresubjects {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 52px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 1230px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.desktophdcopy .classmenu {
  background-color    : rgba(150, 69, 100, 0.0);
  top                 : 0px;
  height              : 118px;
  width               : 1100px;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow-x: auto;
    white-space: nowrap;
}
div.classmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    text-decoration: none;
    background-color    : rgba(255, 255, 255, 0.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
    font-size           : 20.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : justify;
    line-height         : 27.0px;
  }
}

div.classmenu a:hover {
    background-color: #777;
}
.desktophdcopy .rectangle2 {
  background-color    : rgba(150, 69, 69, 1.0);
  top                 : 0px;
  height              : 118px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .class2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 300px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy .class3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy .class1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy .class4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 700px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy .oval {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 41px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .class5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 900px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy .label1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1186px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 33.0px;
}
.desktophdcopy .oval3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 31px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 1321px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .notifications {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 253px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 646px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 33.0px;
}
.desktophdcopy .path2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 371px;
  height              : 324px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 1335px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .rectangle5 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 117px;
  height              : 94px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .rectangle51 input[type=text] {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 129px;
  height              : 57px;
  width               : 1330px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  text-align:center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
}
.desktophdcopy .path3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 143px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 717px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .rectangle6 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 818px;
  height              : 411px;
  width               : 1238px;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .rectangle7 {
  background-color    : rgba(0, 0, 0, 0.0);
  top                 : 0;
  height              : 360px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .not1 {
  background-color    : rgba(255, 255, 100, 0.0);
  top                 : 175;
  height              : 360px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
}
.desktophdcopy .not2 {
  background-color    : rgba(255, 255, 100, 0.0);
  top                 : 175;
  height              : 360px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
}
.desktophdcopy .not3 {
  background-color    : rgba(255, 255, 100, 0.0);
  top                 : 175;
  height              : 360px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 944px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
}
.desktophdcopy .rectangle71 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 350px;
  height              : 360px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 487px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .rectangle72 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 350px;
  height              : 360px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 906px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .discoverstudygroup {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75px;
  height              : auto;
  width               : 860px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 38.0px;
}
.desktophdcopy .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1044px;
  height              : 94px;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 545px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .explore {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1064px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 656px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy .rectangle8 {
  background-color    : rgba(151, 69, 69, 1.0);
  top                 : 1935px;
  height              : 139px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .copyright2512018stu {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1991px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.desktophdcopy .path6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : 2px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .path61 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 325px;
  height              : 2px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .class1datetime {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy .showmore1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 330;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 19.0px;
}
.desktophdcopy .oval4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75;
  height              : 18px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .homiecarlybanswers {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 19.0px;
}
.desktophdcopy .rectangle11 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 110px;
  height              : 200px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .path62 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : 2px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .path612 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 325px;
  height              : 2px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .not2class1datetime {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy .showmore2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 330;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 19.0px;
}
.desktophdcopy .oval42 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75;
  height              : 18px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .not2answers {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 19.0px;
}
.desktophdcopy .rectangle112 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 110px;
  height              : 200px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .path63 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : 2px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .path613 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 325px;
  height              : 2px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .not3class1datetime {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy .showmore3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 330;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 19.0px;
}
.desktophdcopy .oval43 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75;
  height              : 18px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy .not3answers {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 75px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 19.0px;
}
.desktophdcopy .rectangle113 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 110px;
  height              : 200px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .ev-evte-appear prefix for appear evtions */
.ev-evte-appear {
  opacity             : 0;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 normal forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 normal forwards;
}
.ev-evte-disappear {
  opacity             : 1;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 reverse forwards;
}
.ev-evte-nodelay {
  -webkit-evtion-delay: 0;
  -moz-evtion-delay: 0;
  -o-evtion-delay  : 0;
  evtion-delay     : 0;
}
@-webkit-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
