

.desktophdcopy6 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1079px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophdcopy6 .rectangle2 {
  background-color    : rgba(150, 69, 69, 1.0);
  top                 : 0px;
  height              : 118px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .class2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy6 .class3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 626px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy6 .class1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 216px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(176, 176, 176, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy6 .class4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 890px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy6 .oval {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 41px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .class5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1046px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy6 .rectangle5 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 117px;
  height              : 94px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .rectangle51 input[type=text] {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 129px;
  height              : 57px;
  width               : 1330px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  text-align:center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
}
.desktophdcopy6 .path3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 143px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 715px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .label1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1184px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 33.0px;
}
.desktophdcopy6 .oval3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 31px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 1319px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .rectangle22 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 211px;
  height              : 118px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .groups {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 242px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 659px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy6 .rectangle23 {
  background-color    : rgba(251, 251, 251, 1.0);
  top                 : 329px;
  height              : 88px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .rectangle231 {
  background-color    : rgba(251, 251, 251, 1.0);
  top                 : 417px;
  height              : 88px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .rectangle232 {
  background-color    : rgba(251, 251, 251, 1.0);
  top                 : 505px;
  height              : 88px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .rectangle233 {
  background-color    : rgba(251, 251, 251, 1.0);
  top                 : 593px;
  height              : 88px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .rectangle234 {
  background-color    : rgba(251, 251, 251, 1.0);
  top                 : 681px;
  height              : 88px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .rectangle235 {
  background-color    : rgba(251, 251, 251, 1.0);
  top                 : 769px;
  height              : 88px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .rectangle236 {
  background-color    : rgba(251, 251, 251, 1.0);
  top                 : 857px;
  height              : 88px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .rectangle8 {
  background-color    : rgba(151, 69, 69, 1.0);
  top                 : 945px;
  height              : 139px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .copyright2512018stu {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1001px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.desktophdcopy6 .classmenu {
  background-color    : rgba(150, 69, 100, 0.0);
  top                 : 0px;
  height              : 118px;
  width               : 1100px;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow-x: auto;
    white-space: nowrap;
}
div.classmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    text-decoration: none;
    background-color    : rgba(255, 255, 255, 0.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
    font-size           : 20.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : justify;
    line-height         : 27.0px;
  }
}

div.classmenu a:hover {
    background-color: #777;
}
.desktophdcopy6 .rectangle2 {
  background-color    : rgba(150, 69, 69, 1.0);
  top                 : 0px;
  height              : 118px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .oval6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 351px;
  height              : 45px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 293px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .oval61 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 351px;
  height              : 45px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 262px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .oval62 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 439px;
  height              : 45px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 236px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .oval63 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 439px;
  height              : 45px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 205px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .oval64 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 351px;
  height              : 45px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 236px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .oval65 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 351px;
  height              : 45px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 205px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .oval66 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 351px;
  height              : 45px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 173px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .oval67 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 351px;
  height              : 45px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy6 .dankenglishstudyg {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 352px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 504px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy6 .u201cjustuploadedtheg {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 362px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1001px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 33.0px;
}
.desktophdcopy6 .a1h {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 361px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1354px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 33.0px;
}
/* .ev-evte-appear prefix for appear evtions */
.ev-evte-appear {
  opacity             : 0;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 normal forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 normal forwards;
}
.ev-evte-disappear {
  opacity             : 1;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 reverse forwards;
}
.ev-evte-nodelay {
  -webkit-evtion-delay: 0;
  -moz-evtion-delay: 0;
  -o-evtion-delay  : 0;
  evtion-delay     : 0;
}
@-webkit-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
