

.desktophdcopy11 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophdcopy11 .rectangle2 {
  background-color    : rgba(150, 69, 69, 1.0);
  top                 : 0px;
  height              : 118px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .classmenu {
  background-color    : rgba(150, 69, 100, 0.0);
  top                 : 0px;
  height              : 118px;
  width               : 1100px;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow-x: auto;
    white-space: nowrap;
}
div.classmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    text-decoration: none;
    background-color    : rgba(255, 255, 255, 0.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
    font-size           : 20.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : justify;
    line-height         : 27.0px;
  }
}

div.classmenu a:hover {
    background-color: #777;
}
.desktophdcopy11 .rectangle2 {
  background-color    : rgba(150, 69, 69, 1.0);
  top                 : 0px;
  height              : 118px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .class2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 394px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy11 .class3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 628px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy11 .class1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 218px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(176, 176, 176, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy11 .class4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 892px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy11 .oval {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 41px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .class5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1048px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy11 .rectangle5 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 117px;
  height              : 94px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .rectangle51 input[type=text] {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 129px;
  height              : 57px;
  width               : 1330px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  text-align:center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
}
.desktophdcopy11 .path3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 143px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 717px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .label1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1186px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 33.0px;
}
.desktophdcopy11 .oval3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 31px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 1321px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .rectangle30 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 730px;
  height              : 294px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .whatistheblueply {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 359px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy11 .rectangle31 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 211px;
  height              : 119px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .qa {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 243px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 686px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy11 .path12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 429px;
  height              : 2px;
  width               : 1311px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .path121 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 717px;
  height              : 2px;
  width               : 1311px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .ihavebeentryingt {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 447px;
  height              : auto;
  width               : 1234px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy11 .rectangle32 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 650px;
  height              : 39px;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 118px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .see3attatchments {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 658px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .rectangle321 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 970px;
  height              : 39px;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 118px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .open2links {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 978px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .rectangle322 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 971px;
  height              : 39px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 283px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .view69replies {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 979px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 298px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .rectangle33 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 652px;
  height              : 39px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 334px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .gost {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 658px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 350px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .rectangle331 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 650px;
  height              : 39px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 453px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .motif {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 656px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 469px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .rectangle332 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 650px;
  height              : 39px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 565px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .soph {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 656px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 581px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .rectangle333 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 650px;
  height              : 39px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 678px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .plshelpiamgonnakill {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 656px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 694px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .rectangle34 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 609px;
  height              : 93px;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 1097px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .path13 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 637px;
  height              : 2px;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 1097px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .asked625181744 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 612px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(103, 103, 103, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .oval7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 648px;
  height              : 39px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 1114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .you {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 642px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1166px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .a49merit50appro {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 670px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1166px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .rectangle341 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 911px;
  height              : 93px;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 1096px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .path131 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 940px;
  height              : 2px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 1097px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .asked626180931 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 914px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(103, 103, 103, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .oval71 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 950px;
  height              : 39px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 1113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .homiecarlyb {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 944px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1165px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .a69merit69appro {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 972px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1165px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 25.0px;
}
.desktophdcopy11 .idktheanswertour {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 816px;
  height              : auto;
  width               : 1209px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy11 .topanswer {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 749px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 639px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 41.0px;
}
.desktophdcopy11 .star {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 967px;
  height              : 34px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 768px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .star1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 969px;
  height              : 34px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 531px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .star2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 969px;
  height              : 34px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 568px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .star3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 969px;
  height              : 34px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 604px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .star4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 969px;
  height              : 34px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 639px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .star5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 969px;
  height              : 34px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 673px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy11 .a50 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 971px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 733px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 33.0px;
}
.desktophdcopy11 .rateanswer {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 977px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 459px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 16.0px;
}
/* .ev-evte-appear prefix for appear evtions */
.ev-evte-appear {
  opacity             : 0;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 normal forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 normal forwards;
}
.ev-evte-disappear {
  opacity             : 1;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 reverse forwards;
}
.ev-evte-nodelay {
  -webkit-evtion-delay: 0;
  -moz-evtion-delay: 0;
  -o-evtion-delay  : 0;
  evtion-delay     : 0;
}
@-webkit-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
