

.desktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophd .rectangle45 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 55px;
  height              : 82px;
  width               : 544px;
  position            : absolute;
  margin              : 0;
  left                : 448px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle451 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 196px;
  height              : 69px;
  width               : 544px;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle452 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 302px;
  height              : 69px;
  width               : 544px;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle453 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 408px;
  height              : 69px;
  width               : 544px;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle454 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 196px;
  height              : 69px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 824px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle455 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 302px;
  height              : 69px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 824px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle456 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 408px;
  height              : 69px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 824px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .tellusalittleabo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 68px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 493px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophd .rectangle46 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 599px;
  height              : 296px;
  width               : 1239px;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle461 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 895px;
  height              : 82px;
  width               : 1239px;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle44 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 599px;
  height              : 95px;
  width               : 1239px;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .emailaddress {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 208px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 269px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophd .fullname {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 203px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 869px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophd .education {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 309px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 869px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophd .zipcode {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 415px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 869px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophd .username {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 309px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 269px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophd .password {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 415px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 269px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-UltraLight", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophd .picksubjects {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 537px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 613px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophd .rectangle47 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 628px;
  height              : 37px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 1150px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .searchclasses {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 632px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle48 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 727px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle481 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 727px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 331px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle482 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 727px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 534px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle483 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 725px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 940px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle484 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 725px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 1143px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle485 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 725px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 737px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle486 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 786px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 127px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle4815 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 615px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 774px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle4819 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 645px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 774px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle487 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 786px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 330px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle4814 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 615px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 581px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle4818 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 645px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 581px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle488 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 786px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 533px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle4820 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 645px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 383px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle4813 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 615px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 383px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle489 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 784px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 939px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle4810 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 784px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 1142px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle4811 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 784px;
  height              : 44px;
  width               : 171px;
  position            : absolute;
  margin              : 0;
  left                : 736px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle4812 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 615px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 175px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle4817 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 645px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 175px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle4816 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 615px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 980px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle4821 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 645px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 980px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .chinese4H {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 734px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;

}
.desktophd .english3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 734px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 373px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .precalcH {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 734px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 577px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .ushistory {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 734px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 774px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .ap {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 734px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 997px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .physics {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 734px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1195px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .donu2019tseeyourclass {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 895px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 571px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophd .rectangle49 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 930px;
  height              : 37px;
  width               : 547px;
  position            : absolute;
  margin              : 0;
  left                : 447px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .ev-evte-appear prefix for appear evtions */
.ev-evte-appear {
  opacity             : 0;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 normal forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 normal forwards;
}
.ev-evte-disappear {
  opacity             : 1;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 reverse forwards;
}
.ev-evte-nodelay {
  -webkit-evtion-delay: 0;
  -moz-evtion-delay: 0;
  -o-evtion-delay  : 0;
  evtion-delay     : 0;
}
@-webkit-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
