

.desktophdcopy10 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophdcopy10 .rectangle2 {
  background-color    : rgba(150, 69, 69, 1.0);
  top                 : 0px;
  height              : 118px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .classmenu {
  background-color    : rgba(150, 69, 100, 0.0);
  top                 : 0px;
  height              : 118px;
  width               : 1100px;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow-x: auto;
    white-space: nowrap;
}
div.classmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    text-decoration: none;
    background-color    : rgba(255, 255, 255, 0.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
    font-size           : 20.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : justify;
    line-height         : 27.0px;
  }
}

div.classmenu a:hover {
    background-color: #777;
}
.desktophdcopy10 .rectangle2 {
  background-color    : rgba(150, 69, 69, 1.0);
  top                 : 0px;
  height              : 118px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .class2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 393px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy10 .class3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 627px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy10 .class1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 217px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(176, 176, 176, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy10 .class4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 891px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy10 .oval {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 41px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .class5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1047px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy10 .rectangle5 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 117px;
  height              : 94px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .rectangle51 input[type=text] {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 129px;
  height              : 57px;
  width               : 1330px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  text-align:center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
}
.desktophdcopy10 .path3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 143px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 716px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .label1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1185px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 33.0px;
}
.desktophdcopy10 .oval3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 31px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 1320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .rectangle18 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 263px;
  height              : 727px;
  width               : 1205px;
  position            : absolute;
  margin              : 0;
  left                : 111px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .rectangle4 {
  background-color    : rgba(151, 69, 69, 1.0);
  top                 : 933px;
  height              : 51px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 620px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .post {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 935px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 686px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy10 .tags {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 862px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 189px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy10 .rectangle3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 870px;
  height              : 39px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : 292px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .title {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 301px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy10 .rectangle input[type=text] {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 310px;
  height              : 38px;
  width               : 856px;
  position            : absolute;
  margin              : 0;
  left                : 292px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
}
.desktophdcopy10 .rectangle19 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 393px;
  height              : 441px;
  width               : 1080px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .rectangle20 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 861px;
  height              : 58px;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 928px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy10 .public {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 866px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 976px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy10 .audience {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 866px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 748px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy10 .path11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 887px;
  height              : 13px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 1109px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .ev-evte-appear prefix for appear evtions */
.ev-evte-appear {
  opacity             : 0;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 normal forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 normal forwards;
}
.ev-evte-disappear {
  opacity             : 1;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 reverse forwards;
}
.ev-evte-nodelay {
  -webkit-evtion-delay: 0;
  -moz-evtion-delay: 0;
  -o-evtion-delay  : 0;
  evtion-delay     : 0;
}
@-webkit-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
