

.desktophdcopy3 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2195px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophdcopy3 .oval2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : 31px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 1348px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .moresubjects {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 57px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 1226px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 22.0px;
}
.desktophdcopy3 .rectangle2 {
  background-color    : rgba(150, 69, 69, 1.0);
  top                 : 4px;
  height              : 118px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .classmenu {
  background-color    : rgba(150, 69, 100, 0.0);
  top                 : 0px;
  height              : 118px;
  width               : 1100px;
  position            : absolute;
  margin              : 0;
  left                : 155px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow-x: auto;
    white-space: nowrap;
}
div.classmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    text-decoration: none;
    background-color    : rgba(255, 255, 255, 0.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
    font-size           : 20.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : justify;
    line-height         : 27.0px;
  }
}

div.classmenu a:hover {
    background-color: #777;
}
.desktophdcopy3 .rectangle2 {
  background-color    : rgba(150, 69, 69, 1.0);
  top                 : 0px;
  height              : 118px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .class2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy3 .class3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 624px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy3 .class1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy3 .class4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 888px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy3 .oval {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 49px;
  height              : 41px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .class5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : auto;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1044px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy3 .label1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : auto;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1182px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 33.0px;
}
.desktophdcopy3 .oval3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 47px;
  height              : 31px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 1317px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle5 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 121px;
  height              : 94px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle51 input[type=text] {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 129px;
  height              : 57px;
  width               : 1330px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  text-align:center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
}
.desktophdcopy3 .path3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 147px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 713px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle10 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 213px;
  height              : 1853px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 4px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .path5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 357px;
  height              : 2px;
  width               : 1439px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .notifications {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 265px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 616px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy3 .rectangle8 {
  background-color    : rgba(151, 69, 69, 1.0);
  top                 : 2066px;
  height              : 139px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .copyright2512018stu {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2122px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.desktophdcopy3 .rectangle13 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 274px;
  height              : 35px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 1254px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .filter {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 277px;
  height              : auto;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 1276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 27.0px;
}
.desktophdcopy3 .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 286px;
  height              : 13px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 1329px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle21 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 358px;
  height              : 268px;
  width               : 1433px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle211 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 626px;
  height              : 268px;
  width               : 1433px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle212 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 894px;
  height              : 268px;
  width               : 1433px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle213 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1162px;
  height              : 268px;
  width               : 1433px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle214 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1430px;
  height              : 268px;
  width               : 1433px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle215 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1698px;
  height              : 268px;
  width               : 1433px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .rectangle216 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1966px;
  height              : 96px;
  width               : 1433px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .class1datetime {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 382px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 503px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 49.0px;
}
.desktophdcopy3 .oval4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 440px;
  height              : 59px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy3 .homiecarlybanswers {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 517px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Medium", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : justify;
  line-height         : 41.0px;
}
.desktophdcopy3 .rectangle11 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 433px;
  height              : 168px;
  width               : 999px;
  position            : absolute;
  margin              : 0;
  left                : 383px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .ev-evte-appear prefix for appear evtions */
.ev-evte-appear {
  opacity             : 0;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 normal forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 normal forwards;
}
.ev-evte-disappear {
  opacity             : 1;
  display             : block;
  -webkit-evtion   : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-evtion      : ev-reveal 0.3s ease-in 1 normal forwards;
  -o-evtion        : ev-reveal 0.3s ease-in-out 1 reverse forwards;
  evtion           : ev-reveal 0.3s ease-in-out 1 reverse forwards;
}
.ev-evte-nodelay {
  -webkit-evtion-delay: 0;
  -moz-evtion-delay: 0;
  -o-evtion-delay  : 0;
  evtion-delay     : 0;
}
@-webkit-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes ev-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
